.App {
  text-align: center;
}

table {
  font-size:16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 30%;
}

td,th {
  text-align: left;
  padding: 8px;
}

th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #97BFB4;
  color: white;
}

table.blacktableborders, table.blacktableborders th, table.blacktableborders td {
border: 1px solid;
}

table.fullwidthtable, table.fullwidthtable th, table.fullwidthtable td {
border: 1px solid black;
width: 100%;
}

body.darkpagetheme table.fullwidthtable, body.darkpagetheme table.fullwidthtable th, body.darkpagetheme table.fullwidthtable td {
border: 1px solid;
}

table.bordercollapsetable, table.bordercollapsetable th, table.bordercollapsetable td {
border: 1px solid;
width: 100%;
border-collapse: collapse;
}

table.onlytableborder {
border: 1px solid;
width: 100%;
border-collapse: collapse;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.icon {
  cursor: pointer;
}

.App-header {
  background-color: #F5EEDC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #97BFB4;
}

section {
  border-style: solid;
  border-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #DD4A48;
  color: #97BFB4;
}

h1 {
  position:fixed;
  top:10px;
  border-style: solid;
  border-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #DD4A48;
  color: #97BFB4;
}

.main-link {
  position:fixed;
  top:10px;
  right:10px;
}

a:link {
  color: #DD4A48;
}

.link:visited {
  color: #ECB390;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ECB390;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
