.main{
  background-color: #F5EEDC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #203239;
}

h3{
  margin-top: 15px;
  margin-bottom: 15px;
  color: #97BFB4;
}

.corner-links{
  position: fixed;
  top: 0;
  right: 0;
  font-size: x-large;
  padding-right: 10px;
}

.link{
  padding-left: 5px;
  color: #ECB390;
}

#comp{
  display: flex;
  align-content: center;
}

#voting{
  margin: none;
  padding-right: 10px;
}

#voting > div{
  text-align: center;
  padding-bottom: 7px;
}

#idea{
  margin: auto;
  padding-bottom: 5px;
}

table {
  font-size:16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 30%;
}

td,th {
  text-align: left;
  padding: 8px;
}

th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #97BFB4;
  color: white;
}

#Home{
  background-image: url(./images/light-bulb-technology-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-position: 50% 5%;
  background-size: 15%;
  
}

input[type=checkbox]{
  display: none;
}

input[type=checkbox]:checked + label{
  color: darkorange;
}

#up:hover, #down:hover{
  color: crimson;
  cursor: pointer;
}

.button{
  display: inline-block;
  border-radius: 4px;
  background-color: #C0D8C0;
  border: none;
  color: #203239;
  text-align: center;
  font-size: medium;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span::after{
  content: '\1F34E';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  bottom: 0;
}

button:hover span{
  padding-right: 25px;
  bottom: 0;
}

.button:hover span::after{
  opacity: 1;
  right: 0;
  bottom: 0px;
}

#idea-buttons{
  display: flex;
  justify-content: center;
}
#newidea, #makeProj{
  background-color: #ECB390;
}

.ideaCreation{
  margin-bottom: 10px;
  font-family: inherit;
  font-size: inherit;
  width: 20%;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px 2px #203239;
  resize: none;
}

#details{
  width: 30%;
}

#icon:hover{
  cursor: pointer;
}

.login{
  margin-bottom: 10px;
  font-family: inherit;
  font-size: inherit;
  width: auto;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px 2px #203239;
}

.ideaCreation:focus, .login{
  outline: none;
}

.question{
  align-self: baseline;
  margin-left: 5%;
  margin-right: 5%;
}

.answer{
  align-self: baseline;
  margin: 0% 10% 0% 2%;
}

.answer > p{
  margin: 0%;
}

#faq{
  padding-bottom: 25%;
}

.deats{
  display: flex;
  align-items: baseline;
}

.deats h2{
  padding-right: 5px;
}

#detailContents{
  margin: 0% 35% 25% 35%;
}